<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Change Password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Old Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="oldPassword"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.oldPassword.touched &&
            changePasswordForm.controls.oldPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required"
            >This field is mandatory</span
          ></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>New Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="newPassword"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.newPassword.touched &&
            changePasswordForm.controls.newPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required"
            >This field is mandatory</span
          ></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.confirmPassword.touched &&
            changePasswordForm.controls.confirmPassword.invalid
          "
        >
          <span
            *ngIf="changePasswordForm.controls.confirmPassword.errors.required"
            >This field is mandatory</span
          ></mat-error
        >
        <mat-hint *ngIf="validateSubmit()">Passwords do not match</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    (click)="handleSubmit()"
    [disabled]="
      validateSubmit() &&
      changePasswordForm.valid && changePasswordForm.dirty
    "
  >
    Update
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
