<body>
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category:</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <button class="button" [routerLink]="['/cafe/category']">
              View Categories
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Products:</h2>
            <h1 class="title">{{ data?.product }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/product']">
                View Products
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Bills:</h2>
            <h1 class="title">{{ data?.bill }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/bill']">
                View Bills
              </button>
            </p>
          </div>
        </div>
      </div>
  </div>
</body>
